NODE_ENV=development
PORT=5000

DB_HOST=localhost
DB_PORT=3306
DB_USER=cbca_app
DB_PASSWORD=cbca_password
DB_NAME=cbca_annuaire

JWT_SECRET=change_this_secret_before_production
JWT_EXPIRES_IN=8h

CORS_ORIGIN=http://localhost:5173
